@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,800&family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

button {
    @apply btn bg-primary hover:bg-second text-white hover:scale-95
}

.navbar a {
    @apply hover:text-primary
}

.navbar li .active {
    @apply text-primary
}

.registration input,
.registration select {
    @apply block border border-slate-200 rounded-md py-2 px-4 font-medium focus:outline-none w-full focus:border-second focus:border-opacity-30
}